<section>
    <div class="cards">
        <div class="card">
            <h2>Global</h2>
            <div class="row">
                <div class="cases">
                    <h3>Confirmed Cases</h3>
                    <div class="row">
                        <div class="new">
                            <h4>New</h4>
                            <div class="count">{{global.NewConfirmed}}</div>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <div class="count">{{global.TotalConfirmed}}</div>
                        </div>
                    </div>
                </div>
                <div class="deaths">
                    <h3>Deaths</h3>
                    <div class="row">
                        <div class="new">
                            <h4>New</h4>
                            <div class="count">{{global.NewDeaths}}</div>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <div class="count">{{global.TotalDeaths}}</div>
                        </div>
                    </div>
                </div>
                <div class="recovered">
                    <h3>Recovered</h3>
                    <div class="row">
                        <div class="new">
                            <h4>New</h4>
                            <div class="count">{{global.NewRecovered}}</div>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <div class="count">{{global.TotalRecovered}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {{#each countries}}
    <div class="cards">
        <div class="card">
            <h2>{{this.Country}}</h2>
            <div class="row">
                <div class="cases">
                    <h3>Confirmed Cases</h3>
                    <div class="row">
                        <div class="new">
                            <h4>New</h4>
                            <div class="count">{{this.NewConfirmed}}</div>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <div class="count">{{this.TotalConfirmed}}</div>
                        </div>
                    </div>
                </div>
                <div class="deaths">
                    <h3>Deaths</h3>
                    <div class="row">
                        <div class="new">
                            <h4>New</h4>
                            <div class="count">{{this.NewDeaths}}</div>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <div class="count">{{this.TotalDeaths}}</div>
                        </div>
                    </div>
                </div>
                <div class="recovered">
                    <h3>Recovered</h3>
                    <div class="row">
                        <div class="new">
                            <h4>New</h4>
                            <div class="count">{{this.NewRecovered}}</div>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <div class="count">{{this.TotalRecovered}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {{/each}}
</section>